
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background: linear-gradient(1350deg, #0a1f1a 0%, #1a332e 40%, #0f2419 70%, #061008 100%);

}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-top: 20px;
}

.header-nav .right ul {
    display: flex;
    justify-content: center;
}
.right{
    color: #fff;
    text-shadow:
    /* White glow */
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
    /* Green glow */
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
.right ul li {
    list-style: none;
    margin: 0 27px;
    font-size: 1.4rem;;
}
.right ul li a{
    text-decoration: none;
    color:#25856f;
    font-weight: 700;
}
.right ul li a:hover {
    color: rgb(0, 106, 86);
    transition: smooth;
}

.left{
    list-style: none;
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}
.left {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
    }
  
    20%, 24%, 55% {        
      text-shadow: none;
    }    
    
  }
.herosection {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
  }

.firstSection > div {
    width: 30%;
}

.leftsection {
    padding-top: 50px;
    padding-left: 40px;;
    font-size: 3.4rem;
    color: #fff;
}

.name{
    color: #0fa;
}
.line1{
    border: 0;
    height: 2px;
    background: #0fa;
    margin:4px 0;
    box-shadow: 0 0 12px #0fa;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    border-radius: 5px;
    animation: glow 2s infinite alternate;
    
}
button {
  margin: 20px;
}
.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-4 {
  color: #8ce436;
  padding: 0;
  border: 1px solid #8ce436;
  box-shadow: 0 0 5px #8ce436, 0 0 5px inset;
}
.btn-4 {
    font-size: 1rem;
}
.btn-4:after {
  position: absolute;
  content: "";
  top: 5px;
  left: 6px;
  width: 90%;
  height: 70%;
  border: 1px solid #8ce436;
  box-shadow: 0 0 5px #8ce436 inset;
  opacity: 0;
  transition: all 0.01s ease;
  border-radius: 10cm;
}
.btn-4:hover:after {
  opacity: 1;
}
.btn-7 {
  color: #21ebff;
  line-height: 40px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #0fa;
  box-shadow: 0 0 5px #0fa;
  transition: all 0.2s ease;
}
.btn-7:before{
   height: 50%;
   width: 2px;
}
.btn-7:after {
  width: 20%;
  height: 2px;
}
.btn-7:hover:before {
  height: 100%;
  
}
.btn-7:hover:after {
  width: 100%;
  
}
.btn-7:hover{
    color: #0fa;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #0fa;
  box-shadow: 0 0 5px #0fa;
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 50%;
}
.btn-7 span:after {
  height: 2px;
  width: 20%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}